
.box {
  border-radius: 1rem;
  width: 60%;
  background-color: white;
  padding: 2rem 3rem 4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box p {
  color: var(--black);
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.purple-bottom {
  background-color: var(--purple);
  padding: 0.75rem;
  width: 60%;
  margin: -1.5rem auto 0rem auto;
  border-radius: 0rem 0rem 1rem 1rem;
}

.purple-bottom span, .purple-bottom button {
  font-size: 80%;
  color: var(--black);
  background-color: var(--light-grey);
  padding: 0.4rem;
  margin: -1.5rem auto 0rem auto;
  border-radius: 25px;
}