nav {
  width: 100%;
  border-bottom: 0.25rem solid var(--grey);
  background-color: var(--yellow);
  display: flex;
  padding: 1rem 0rem;
}
nav > * {
  max-width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav >* img {
  width: 52px;
  height: 40px;
}


.nav-logo-heading {
  height: 4rem;
  display: flex;
  gap: 2rem;
}

.nav-name-heading {
  background-color: var(--grey);
  padding: 0.25rem 1.25rem 0.25rem 0.75rem;
  border-radius: 1rem 0rem 0rem 1rem;
  margin-right: -2rem;
}

.nav-svg-bg {
  background-color: var(--yellow-dark);
  border-radius: 50%;
}

a:link { 
  text-decoration: none; 
}
