:root {
  --yellow:#FFC75F;
  --yellow-dark: #E7B355;
  --purple: #845EC2;
  --light-grey: #EFEFEF;
  --grey: #969696;
  --blue: #e1faff;
  --black: #1a1a1a;
  --text-on-yellow: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-large;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background-color: inherit; outline: none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap);

h1,h2,h3,h4,h5,h6 {
  font-family: 'Love Ya Like A Sister', cursive;
  overflow-wrap: break-word;
  color: var(--text-on-yellow);
}

@import url(https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap);

div {
  font-family: 'Love Ya Like A Sister', cursive;
  overflow-wrap: break-word;
  color: var(--light-grey);
}

@import url(https://fonts.google.com/specimen/Sanchez?query=Sanche);

 p {
  font-family: 'Sanchez';
  overflow-wrap: break-word;
  color: var(--text-on-yellow);
}

button{ 
  font-family: 'Sanchez';
  overflow-wrap: break-word;
  color: var(--black);
  font-size:14px ;
 /*  margin: 1em;  Why is there margin on all buttons? */
}

.w-full {
  width: 100%;
}

.bar {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0.5em 20% 0em 20% ;
  background-color: var(--yellow);
  justify-content: space-between;
  filter: drop-shadow(0px 0px 5px #070707);
}

.flex-item{
  display: flex;
  padding: 0.2rem;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
