main {
  
  flex-direction: column;
  height: 100vh;
}

.container{
  margin: auto;
  width: 60%;
  padding: 2rem 3rem 0rem;
}


.yellow{
  background-color: var(--yellow);
  height: 100%;
}


.box {
  margin: 2rem auto 0rem;
}


.flex-center {
  display: 'flex'; 
  justify-self: 'center';
}


.Robot-Profile{
  display: block;
  height: 12em;
  margin-left: auto; 
  margin-right: 20%;
}

.overlap{
  
  
  margin: -2em 0rem -4rem 0rem;


}