main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.startup-upper {
  background-color: var(--yellow);
  height: 40%;;
}

.startup-upper-box {
  display: flex;
  max-width: 60%;
  margin: auto;
  height: 100%;
  align-items: center;
}
.startup-upper-box > img {
  width: 12rem;
  height: 8.5rem;
  margin-right: 5rem;
}

.startup-lower {
  background-color: white;
  height: 60%;
}

.startup-lower> div:first-child {
  margin: -2rem auto 0rem;
}


