
.translation-upper {
  background-color: var(--yellow);
  height: 40%;;
}
.translation-upper-box {
  display: flex;
  max-width: 60%;
  margin: auto;
  height: 100%;
  align-items: center;
}
.translation-upper-box > img {
  width: 12rem;
  height: 8.5rem;
  margin-right: 5rem;
}

.translation-lower {
  background-color: white;
  height: 60%;
}


