.input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid var(--grey);
  border-radius: 3rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--light-grey);
  width: 100%;
}
.input-box > form {
  display: flex;
  align-items: center;
}
.input-box > form > input {
  color: var(--grey);
  margin-left: 0.5rem;
}

.input-box-key {
  margin-right: 0.5rem;
  border-right-width: 4px;
  border-right-color: black;
  border-right-style: solid;
}
.black {
  color: black;
}
.arrow {
  color: #1690e9;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
